<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Electron</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../p/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../p/css/style.css">
    
    <!-- Impedir a execução de scripts externos não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">

</head>
<body>
    <div class="container text-center mt-5">
        <img src="../img/clientes.png" alt="Cadastro do Cliente" title="Cadastro do Cliente" class="img-fluid">
        <img src="../img/os.png" alt="Ordem de Serviços" title="Ordem de Serviços" class="img-fluid">
    </div>

    <footer class="text-center mt-4">
        <p id="dataAtual"></p>
    </footer>

    <!-- Scripts -->
    <script src="../p/js/bootstrap.min.js"></script>
    <script src="../p/js/script.js"></script>
    <script src="renderer.js"></script>
</body>
</html>
