<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--Titulo que será exibido na janela-->
    <title>Electron</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="../p/css/bootstrap.min.css">
    <!--css personalizado-->
    <link rel="stylesheet" href="../p/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Hello Electron</h1>
    </div>


    <!--Bootstrap-->
    <script src="../p/js/bootstrap.min.js"></script>
</body>
</html>