@charset "utf-8";

/* botões (tela principal */

.button img {
    margin: 50px 15px 25px 15px;
    padding: 5px;
    border: 1px solid #e8e8e8;
    cursor: pointer;

}

/* rodapé */

footer {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: blue;
    position: fixed;
    bottom: 0;
}

footer p{
    color: #ffffff;
    padding-top: 7px ;
}